.notification-div {
	margin: 20px;
	border: 1px solid;
	height: 85vh;
	text-align: center;
	border-radius: 5px;
}

.thk-txt {
	font-size: 2rem;
	margin-top: 20%;
}

.you-txt {
	font-size: 1.6rem;
	margin-top: 10%;
}

.main-txt {
	font-size: 1.6rem;
	margin-top: 5%;
}

.btn-close {
	margin-top: 70%;
	width: 50%;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #FCF35C;
	margin-top: 40px;
	font-size: 15px;
	margin-left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 6px 18px rgba(25, 22, 12, .14);
	color: #000;
}

@media(max-width:700px) {
	.btn-close {
		width: 90%;
		margin-left: 0;
		transform: translateX(0);
	}
}